*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 0.7vw;
}
.boxcenter{
    width: 60%;
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}
.mb{
    margin-bottom: 20px;
}
.mb10{
   margin-bottom: 10px;
}
.mr{
    margin-right: 2%;
}
.demo{
    background-color: antiquewhite;
    min-height: 100px;
}
.header{
   background-color: aquamarine;
   border: 1px #090 solid;
   color: blue;
   border-radius: 5px;
}
.header h1{
    margin: 20px;
    font-size: 1.2vw;
}
.menu{
    background-color: black;
    color: #ccc;
    border-radius: 5px;
 }
 .boxtrai{
    float: left;
    width: 74%;
 }
 .boxphai{
    float: left;
    width: 24%;
 }
 .footer{
    background-color: aquamarine;
    border: 1px #090 solid;
    font-size: 0.8vw;
    color: blue;
    border-radius: 5px;
    padding: 20px;
 }
 .boxtitle{
    background-color: #eee;
    color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #ccc solid;
 }
 .boxcontent{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;
 }
 .boxcontent2{
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    min-height: 200px;
    background-color: #eee;
 }
 .boxfooter{
    color: #333;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    border-right: 1px #ccc solid;
 }
 .banner{
   min-height: 300px;
   width: 100%;
   text-align: center;
 }
 .banner img{
   height: 300px;
 }
 .boxproduct{
  float: left;
  width: 30%;
  min-height: 300px;
  border: 1px #eee solid;
  border-radius: 5px;
  margin-bottom: 20px;
 }
 .boxproduct .img{
  min-height: 230px;
  text-align: center;
 }
 .img img{
   height: 220px;
 }
 .menu ul{
   padding: 0px 15px;


 }
 .menu ul li{
   list-style: none;
   display: inline;
   padding: 0px 15px;
 }
 .menu ul li a{
   color: #ccc;
   text-decoration: none;
   transition: 0.5s;
 }
 .menu ul li a:hover{
   color: white;
   font-size: 0.8vw;
 }
 .formuser{
   line-height: 150%;
 }
 .formuser input[type="text"]
 .formuser input[type="password"]{
    width: 100%;
    border: 1px #ccc solid;
    padding: 5px 10px;
    border-radius: 5px;
 }
 .formuser input[type="checkbox"]{
   border-radius: 5px;
}
.formuser input[type="submit"]{
   padding: 5px 10px;
   border-radius: 5px;
   background-color: white;
   border: 1px #ccc solid;
}
.formuser input[type="submit"]:hover{
   background-color: #ccc;
}
.formuser li a{
color: teal;
text-decoration: none;
}
.formuser li a:hover{
   color: #660;
   text-decoration: underline;
}
.menucategory ul{
margin: 0;
padding: 0;
list-style-type: none;
}
.menucategory ul li{
   padding: 10px 20px;
   background-color: #fff;
   border-bottom: 1px #ccc solid;
}
.menucategory ul li a{
   color: #666;
   text-decoration: none;
}
.menucategory ul li:hover{
   background-color: #ccc
}
.searchtext input[type="text"]{
   width: 100%;
   padding: 5px 10px;
   background-color: #fff;
   border: 1px #ccc solid;
   border-radius: 5px;
}
.top10 img{
  width: 20%;
  height: 50px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px #eee solid;
}
.top10 a{
   color: #666;
   text-decoration: none;
}
.top10 a:hover{
   color: #000;
   text-decoration: underline;
}